// WORK PROCESS 1
.page-section
    .work-proc-1-bg
        .container.fes4-cont
            .row
                .col-md-4
                    .mb-50
                        h2.section-title
                            | WORK
                            span.bold PROCESS
                    p.mb-50 Sed ut perspiciatis unde omnis iste nat eror acus  antium que
                .col-md-7.col-lg-offset-1
                    .row
                        .col-xs-12.col-sm-6.col-md-6
                            .fes4-box
                                .fes4-title-cont
                                    .fes4-box-icon
                                        .icon.icon-basic-lightbulb
                                    h3
                                        span.bold PLANING
                                    p LOREM IPSUM DOLOR
                        .col-xs-12.col-sm-6.col-md-6
                            .fes4-box
                                .fes4-title-cont
                                    .fes4-box-icon
                                        .icon.icon-basic-gear
                                    h3
                                        span.bold DEVELOPMENT
                                    p LOREM IPSUM DOLOR
                    .row
                        .col-xs-12.col-sm-6.col-md-6
                            .fes4-box
                                .fes4-title-cont
                                    .fes4-box-icon
                                        .icon.icon-basic-laptop
                                    h3
                                        span.bold DESIGNING
                                    p LOREM IPSUM DOLOR
                        .col-xs-12.col-sm-6.col-md-6
                            .fes4-box
                                .fes4-title-cont
                                    .fes4-box-icon
                                        .icon.icon-basic-paperplane
                                    h3
                                        span.bold LAUNCH
                                    p LOREM IPSUM DOLOR