header.site-header
    .header-inner
        .container
            .row
                .header-table.col-md-12
                    .header-col.brand
                        a(href="#")
                            img(src="demo/img/logo-wide.png", alt="Hydrogen")/
                    .header-col.main-nav
                        a.nav-toggle(href="#")
                        ul.nav
                            li
                                a(href="#")
                                    ='Home'
                            li
                                a(href="#about")
                                    ='About'
                            li
                                a(href="#services")
                                    ='Services'
                            li
                                a(href="#work")
                                    ='Work'
                            li
                                a(href="#contact")
                                    ='Contact'
                            li
                                a(href="#")
                                    ='Features'
                                    span.sub-toggle
                                ul
                                    li
                                        a(href="shortcodes.html")
                                            ='Shortcodes'
                                    li
                                        a(href="icons.html")
                                            ='Icons'
                                    li
                                        a(href="typography.html")
                                            ='Typography'

                            li
                                a(href="blog.html")
                                    ='Blog'
                                    span.sub-toggle
                                ul
                                    li
                                        a(href="blog-fullwidth.html")
                                            ='Blog Fullwidth'
                                    li
                                        a(href="blog-single.html")
                                            ='Single Post'