// CLIENTS 1 & TESTIMONIALS 1
.page-section.p-110-cont
    .container
        .row
            .col-md-12
                .mb-50
                    h2.section-title
                        | OUR
                        span.bold CLIENTS
        .row
            // CLIENTS 1
            .col-md-7
                .row.client-row.border-bot
                    .col-xs-6.col-sm-3.text-center
                        img(alt='client', src='images/clients/1.png')
                    .col-xs-6.col-sm-3.text-center
                        img(alt='client', src='images/clients/2.png')
                    .col-xs-6.col-sm-3.text-center
                        img(alt='client', src='images/clients/3.png')
                    .col-xs-6.col-sm-3.text-center
                        img(alt='client', src='images/clients/4.png')
                .row.client-row
                    .col-xs-6.col-sm-3.text-center
                        img(alt='client', src='images/clients/5.png')
                    .col-xs-6.col-sm-3.text-center
                        img(alt='client', src='images/clients/6.png')
                    .col-xs-6.col-sm-3.text-center
                        img(alt='client', src='images/clients/7.png')
                    .col-xs-6.col-sm-3.text-center
                        img(alt='client', src='images/clients/8.png')
            // TESTIMONIALS 1
            .col-md-5
                blockquote.quote.mb-0.pl-50-min-1169
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, maiores esse temporibus accusantium quas soluta quis sed rerum.
                    footer John Doe, Google Inc.