// BLOG 1
.page-section.pt-110-b-30-cont
    .container
        .mb-50
            h2.section-title.pr-0
                | LATEST
                span.bold NEWS
                a.section-more.right(href='blog-right-sidebar.html') OUR BLOG
        .row
            // Post Item 1
            .col-sm-6.col-md-4.col-lg-4.wow.fadeIn.pb-70
                .post-prev-img
                    a(href='blog-single-sidebar-right.html')
                        img(src='images/blog/post-prev-1.jpg', alt='img')
                .post-prev-title
                    h3
                        a(href='blog-single-sidebar-right.html') TIME FOR MINIMALISM
                .post-prev-info
                    | JULE 10
                    span.slash-divider /
                    a(href='http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel') JOHN DOE
                .post-prev-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nostrum, cumque culpa provident aliquam commodi assumenda laudantium magnam illo nostrum.
                .post-prev-more-cont.clearfix
                    .post-prev-more.left
                        a.blog-more(href='blog-single-sidebar-right.html') READ MORE
                    .right
                        a.post-prev-count(href='blog-single-sidebar-right.html#comments')
                            span.icon_comment_alt(aria-hidden='true')
                            span.icon-count 21
                        a.post-prev-count(href='http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel')
                            span.icon_heart_alt(aria-hidden='true')
                            span.icon-count 53
                        a.post-prev-count.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false')
                            span.social_share(aria-hidden='true')
                        ul.social-menu.dropdown-menu.dropdown-menu-right(role='menu')
                            li
                                a(href='#')
                                    span.social_facebook(aria-hidden='true')
                            li
                                a(href='#')
                                    span.social_twitter(aria-hidden='true')
                            li
                                a(href='#')
                                    span.social_dribbble(aria-hidden='true')
            // Post Item 2
            .col-sm-6.col-md-4.col-lg-4.wow.fadeIn.pb-70(data-wow-delay='200ms')
                .post-prev-img
                    a(href='blog-single-sidebar-right.html')
                        img(src='images/blog/post-prev-2.jpg', alt='img')
                .post-prev-title
                    h3
                        a(href='blog-single-sidebar-right.html') NEW TRENDS IN WEB DESIGN
                .post-prev-info
                    | MAY 11
                    span.slash-divider /
                    a(href='http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel') JOHN DOE
                .post-prev-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nostrum, cumque culpa provident aliquam commodi assumenda laudantium magnam illo nostrum.
                .post-prev-more-cont.clearfix
                    .post-prev-more.left
                        a.blog-more(href='blog-single-sidebar-right.html') READ MORE
                    .right
                        a.post-prev-count(href='blog-single-sidebar-right.html#comments')
                            span.icon_comment_alt(aria-hidden='true')
                            span.icon-count 21
                        a.post-prev-count(href='http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel')
                            span.icon_heart_alt(aria-hidden='true')
                            span.icon-count 53
                        a.post-prev-count.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false')
                            span.social_share(aria-hidden='true')
                        ul.social-menu.dropdown-menu.dropdown-menu-right(role='menu')
                            li
                                a(href='#')
                                    span.social_facebook(aria-hidden='true')
                            li
                                a(href='#')
                                    span.social_twitter(aria-hidden='true')
                            li
                                a(href='#')
                                    span.social_dribbble(aria-hidden='true')
            // Post Item 3
            .col-sm-6.col-md-4.col-lg-4.wow.fadeIn.pb-70(data-wow-delay='400ms')
                .post-prev-img
                    a(href='blog-single-sidebar-right.html')
                        img(src='images/blog/post-prev-3.jpg', alt='img')
                .post-prev-title
                    h3
                        a(href='blog-single-sidebar-right.html') THE SOUND OF LIFE
                .post-prev-info
                    | DECEMBER 21
                    span.slash-divider /
                    a(href='http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel') JOHN DOE
                .post-prev-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nostrum, cumque culpa provident aliquam commodi assumenda laudantium magnam illo nostrum.
                .post-prev-more-cont.clearfix
                    .post-prev-more.left
                        a.blog-more(href='blog-single-sidebar-right.html') READ MORE
                    .right
                        a.post-prev-count(href='blog-single-sidebar-right.html#comments')
                            span.icon_comment_alt(aria-hidden='true')
                            span.icon-count 21
                        a.post-prev-count(href='http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel')
                            span.icon_heart_alt(aria-hidden='true')
                            span.icon-count 53
                        a.post-prev-count.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='false')
                            span.social_share(aria-hidden='true')
                        ul.social-menu.dropdown-menu.dropdown-menu-right(role='menu')
                            li
                                a(href='#')
                                    span.social_facebook(aria-hidden='true')
                            li
                                a(href='#')
                                    span.social_twitter(aria-hidden='true')
                            li
                                a(href='#')
                                    span.social_dribbble(aria-hidden='true')