// FEATURES 1
#about.page-section
    .container.fes1-cont
        .row
            .col-md-4.fes1-img-cont.wow.fadeInUp.mb-20
                img(src='images/phone-with-arrow.png', alt='img')
            .col-md-8
                .row
                    .col-md-12
                        .fes1-main-title-cont.wow.fadeInDown
                            .title-fs-60
                                | WE ARE
                                br
                                span.bold CREATIVE
                            .line-3-100
                .row
                    .col-md-6.col-sm-6
                        .fes1-box.wow.fadeIn
                            .fes1-box-icon
                                .icon.icon-basic-mixer2
                            h3 FULLY RESPONSIVE
                            p Sed ut perspiciatis unde omnis iste nat eror acus  antium que
                    .col-md-6.col-sm-6
                        .fes1-box.wow.fadeIn(data-wow-delay='200ms')
                            .fes1-box-icon
                                .icon.icon-basic-lightbulb
                            h3 RETINA READY
                            p Sed ut perspiciatis unde omnis iste nat eror acus  antium que
                .row
                    .col-md-6.col-sm-6
                        .fes1-box.wow.fadeIn(data-wow-delay='400ms')
                            .fes1-box-icon
                                .icon.icon-basic-helm
                            h3 UNIQUE DESIGN
                            p Sed ut perspiciatis unde omnis iste nat eror acus  antium que
                    .col-md-6.col-sm-6
                        .fes1-box.wow.fadeIn(data-wow-delay='600ms')
                            .fes1-box-icon
                                .icon.icon-basic-settings
                            h3 EASY TO CUSTOMIZE
                            p Sed ut perspiciatis unde omnis iste nat eror acus  antium que
// DIVIDER
hr.mt-0.mb-0
// FEATURES 2
.page-section
    .container-fluid
        .row
            .col-md-6.wow.fadeInLeft.equal-height
                .fes2-main-text-cont
                    .title-fs-45
                        | MORE THAN
                        br
                        span.bold RESPONSIVE
                    .line-3-70
                    .fes2-text-cont
                        | Sed ut perspiciatis unde omnis iste nat eror acus  antium que. Asperiores, ea velit enim labore doloribus.
            .col-md-6
                .row
                    .fes2-img.equal-height
// FEATURES 3
.page-section
    .container-fluid
        .row
            .col-md-6.left-50.wow.fadeInRight.equal-height
                .fes2-main-text-cont
                    .title-fs-45
                        | POWERFUL
                        br
                        span.bold PERFORMANCE
                    .line-3-100
                    .fes2-text-cont
                        | Sed ut perspiciatis unde omnis iste nat eror acus  antium que. Asperiores, ea velit enim labore doloribus.
            .col-md-6.right-50
                .row
                    .fes3-img.equal-height
// DIVIDER
hr.mt-0.mb-0
// FEATURES 4
.page-section.fes4-cont
    .container
        .row
            .col-xs-12.col-sm-4.col-md-4
                .fes4-box.wow.fadeIn
                    h2.section-title
                        | OUR
                        span.bold SERVICES
            .col-xs-12.col-sm-4.col-md-4
                .fes4-box.wow.fadeIn(data-wow-delay='200ms')
                    .fes4-title-cont
                        .fes4-box-icon
                            .icon.icon-basic-settings
                        h3
                            span.bold DEVELOPMENT
                        p LOREM IPSUM DOLOR
                    div
                        | Maecenas luctus nisi in sem fermentum blat. In nec  elit solliudin, elementum, dictum pur quam volutpat suscipit antena.
            .col-xs-12.col-sm-4.col-md-4
                .fes4-box.wow.fadeIn(data-wow-delay='400ms')
                    .fes4-title-cont
                        .fes4-box-icon
                            .icon.icon-basic-share
                        h3
                            span.bold PRODUCTION
                        p LOREM IPSUM DOLOR
                    div
                        | Seductio maesto nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.
        .row
            .col-xs-12.col-sm-4.col-md-4
                .fes4-box.wow.fadeIn(data-wow-delay='600ms')
                    .fes4-title-cont
                        .fes4-box-icon
                            .icon.icon-basic-target
                        h3
                            span.bold BRANDING
                        p LOREM IPSUM DOLOR
                    div
                        | Donec vel luctus nisi in sem fermentum blat. In nec elit solliudin, elementum, dictum pur quam volutpat suscipit antena.
            .col-xs-12.col-sm-4.col-md-4
                .fes4-box.wow.fadeIn(data-wow-delay='800ms')
                    .fes4-title-cont
                        .fes4-box-icon
                            .icon.icon-basic-globe
                        h3
                            span.bold WEB DESIGN
                        p LOREM IPSUM DOLOR
                    div
                        | Lorem luctus antena at nisi in sem blandit. In nec elit soltudin, elementum odio et, dictum quam a volutpat elementum.
            .col-xs-12.col-sm-4.col-md-4
                .fes4-box.wow.fadeIn(data-wow-delay='1000ms')
                    .fes4-title-cont
                        .fes4-box-icon
                            .icon.icon-basic-picture
                        h3
                            span.bold PHOTOGRAPHY
                        p LOREM IPSUM DOLOR
                    div
                        | Fermentum nisi in sem fertum blat. In elit soldin, elemtum, arenam pur quam volutpat suscipit dictum pur quam.