// ABOUT US 2
.page-section.about-us-2-cont.pt-100-cont
    .container
        .row
            .col-md-12
                .mb-40
                    h2.section-title
                        | OUR
                        span.bold TEAM
        .row
            .col-md-12.text-center.wow.fadeInUp(data-wow-duration='1s')
                img(src='images/team/team-all.jpg', alt='img')
// VIEW MORE PROJECTS
.port-view-more-cont
    a.port-view-more-inv(href='about-us.html') VIEW ALL TEAM
// COUNTERS 1
#counter-1.page-section.p-80-cont
    .container
        .row.text-center
            // Item
            .col-xs-6.col-sm-3
                .count-number
                    | 75
                .count-descr
                    span.count-title AWARDS WINNING
            // Item
            .col-xs-6.col-sm-3
                .count-number
                    | 450
                .count-descr
                    span.count-title HAPPY CLIENTS
            // Item
            .col-xs-6.col-sm-3
                .count-number
                    | 151
                .count-descr
                    span.count-title PROJECTS DONE
            // Item
            .col-xs-6.col-sm-3
                .count-number
                    | 768
                .count-descr
                    span.count-title HOURS OF CODE
// DIVIDER
hr.mt-0.mb-0