include ./../../template/mixin.jade

// Grey BG
//if lte IE 8
  #ie-container
    #ie-cont-close
      a(href='#', onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;')
        img(src='images/ie-warn/ie-warning-close.jpg', style='border: none;', alt='Close')
    #ie-cont-content
      #ie-cont-warning
        img(src='images/ie-warn/ie-warning.jpg', alt='Warning!')
      #ie-cont-text
        #ie-text-bold
          | You are using an outdated browser
        #ie-text
          | For a better experience using this site, please upgrade to a modern web browser.
      #ie-cont-brows
        a(href='http://www.firefox.com', target='_blank')
          img(src='images/ie-warn/ie-warning-firefox.jpg', alt='Download Firefox')
        a(href='http://www.opera.com/download/', target='_blank')
          img(src='images/ie-warn/ie-warning-opera.jpg', alt='Download Opera')
        a(href='http://www.apple.com/safari/download/', target='_blank')
          img(src='images/ie-warn/ie-warning-safari.jpg', alt='Download Safari')
        a(href='http://www.google.com/chrome', target='_blank')
          img(src='images/ie-warn/ie-warning-chrome.jpg', alt='Download Google Chrome')