include ./../../template/mixin.jade

.site-loader

section#home.site-splash.fullscreen
    .splash-inner
        .splash-slider
            .splash-content
                .container
                    .row
                        .col-md-12
                            .splash-text
                                h4.splash-intro
                                    a(href="#")
                                        ='Hello there!'
                                h1.splash-headline
                                    !='We are Hy<span class="text-primary">dro</span>gen'
                                .splash-description
                                    p
                                        ='New York based digital agency who loves designing great websites'
            .splash-content
                .container
                    .row
                        .col-md-12
                            .splash-text
                                h4.splash-intro
                                    a(href="#")
                                        ="We're Creative"
                                h1.splash-headli
                                    ="See our work, you'll fall in love"
                                .splash-descripti
                                    p
                                        ='Our work ranges from web, print to digital marketing'
            .splash-content
                .container
                    .row
                        .col-md-12
                            .splash-text
                                h4.splash-intro
                                    a(href="#")
                                        ="Let's Talk Today"
                                h1.splash-headline
                                    ="Have a project? Let's talk"
                                .splash-description
                                    p
                                        ='Every client working with us are always satisfied, we can prove it!'

            .cycle-next
            .cycle-prev

        .splash-media(data-background="demo/img/splash-bg.jpg", data-background-xs="demo/img/splash-bg-xs.jpg",data-background-md="demo/img/splash-bg-md.jpg", data-background-lg="demo/img/splash-bg-lg.jpg")
            .overlay
        .splash-feedback
            span.mouse
                span.fa.fa-angle-down
            span.caption
                ='Scroll'


header.site-header
    .header-inner
        .container
            .row
                .header-table.col-md-12
                    .header-col.brand
                        a(href="#")
                            img(src="demo/img/logo-wide.png", alt="Hydrogen")/
                    .header-col.main-nav
                        a.nav-toggle(href="#")
                        ul.nav
                            li
                                a(href="#")
                                    ='Home'
                            li
                                a(href="#about")
                                    ='About'
                            li
                                a(href="#services")
                                    ='Services'
                            li
                                a(href="#work")
                                    ='Work'
                            li
                                a(href="#contact")
                                    ='Contact'
                            li
                                a(href="#")
                                    ='Features'
                                    span.sub-toggle
                                ul
                                    li
                                        a(href="shortcodes.html")
                                            ='Shortcodes'
                                    li
                                        a(href="icons.html")
                                            ='Icons'
                                    li
                                        a(href="typography.html")
                                            ='Typography'

                            li
                                a(href="blog.html")
                                    ='Blog'
                                    span.sub-toggle
                                ul
                                    li
                                        a(href="blog-fullwidth.html")
                                            ='Blog Fullwidth'
                                    li
                                        a(href="blog-single.html")
                                            ='Single Post'

.site-wrappe
    .site-body
        section#about.section
            .section-row-container
                .section-row
                    .container
                        .row
                            col-lg-3
                                h1.section-title.show-counter
                                    !='Who We Are <small>The who, what and why our company exists</small>'
                            .col-lg-8.col-lg-push-1
                                .row
                                    .col-md-12
                                        p.lead
                                            !='We are <a href="#">Hydrogen</a>, an always passionate, award winning digital agency who loves to design beautiful websites. See below for more information, who knows you might be interested in working with us.'
                                .row
                                    .col-md-6
                                        .icon-box(data-animation-name="fadeInUp")
                                            .icon
                                                i.gi.gi-magic
                                            .info
                                                h4
                                                    ='We Transform Brands'
                                                p
                                                    ='Sed ut perspiciatis unde omnis iste natus voluptatem accusantium doloremque, consectetur adipisicing elit.'
                                    .col-md-6
                                        .icon-box(data-animation-name="fadeInUp")
                                            .icon
                                                i.gi.gi-cup
                                            .info
                                                h4
                                                    ='We Build Great Products'
                                                p
                                                    ='Sed ut perspiciatis unde omnis iste natus voluptatem accusantium doloremque, consectetur adipisicing elit.'
                                .row
                                    .col-md-6
                                        .icon-box(data-animation-name="fadeInUp")
                                            .icon
                                                i.gi.gi-heart
                                            .info
                                                h4
                                                    ='We.re Passionate'
                                                p
                                                    ='Sed ut perspiciatis unde omnis iste natus voluptatem accusantium doloremque, consectetur adipisicing elit.'
                                .col-md-6
                                    .icon-box(data-animation-name="fadeInUp")
                                        .icon
                                            i.gi.gi-life-preserver
                                        .info
                                            h4
                                                ='Awesome Support'
                                            p
                                                ='Sed ut perspiciatis unde omnis iste natus voluptatem accusantium doloremque, consectetur adipisicing elit.'
            .section-row.no-padding-top
                .container
                    .row
                        .col-md-8.col-md-push-4
                            h2.section-separator-title
                                span(data-shadow-text="Meet Our Team")
                                    ='Meet Our Team'
                    .row
                        .col-md-8.col-md-push-4
                            p.lead
                                ='Each individual plays a great role in the development of our company. All their contributions are more worth than gold making them an invaluable asset to the company.'
                    .row
                        .col-md-3.col-sm-6
                            .team(data-animation-name="fadeInRight")
                                .team-photo
                                    figure
                                        img(src="demo/team/1.jpg", alt="")/
                                        figcaption
                                            a(href="#")
                                                i.gi.gi-resize-full
                                .team-info
                                    h4.team-name
                                        ='John Hammond'
                                    p.team-role
                                        ='CEO, Creative Director'
                                .team-data(data-name="John Hammond", data-role="CEO, Creative Director", data-photo="demo/team/1.jpg")
                                    p
                                        ='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
                                    p
                                        ='Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.'
                                .spacer-60.bordered
                                    social-list
                                        ul
                                            li
                                                a(href="#")
                                                    i.fa.fa-facebook
                                            li
                                                a(href="#")
                                                    i.fa.fa-twitter
                                            li
                                                a(href="#")
                                                    i.fa.fa-instagram
                                            li
                                                a(href="#")
                                                    i.fa.fa-google-plus
                                            li
                                                a(href="#")
                                                    i.fa.fa-github
                        .col-md-3.col-sm-6
                            .team(data-animation-name="fadeInRight")
                                .team-photo
                                    figure
                                        img(src="demo/team/2.jpg", alt="")/
                                        figcaption
                                            a(href="#")
                                                i.gi.gi-resize-full
                                .team-info
                                    h4.team-name
                                        ='Dennis Hawkings'
                                    p.team-role
                                        ='Lead Developer'
                                .team-data(data-name="Dennis Hawkings", data-role="Lead Developer", data-photo="demo/team/2.jpg")
                                    p
                                        ='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
                                    p
                                        ='Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                                    .spacer-60.bordered
                                        .social-list
                                            ul
                                                li
                                                    a(href="#")
                                                        i.fa.fa-facebook
                                                li
                                                    a(href="#")
                                                        i.fa.fa-twitter
                                                li
                                                    a(href="#")
                                                        i.fa.fa-instagram
                                                li
                                                    a(href="#")
                                                        i.fa.fa-google-plus
                                                li
                                                    a(href="#")
                                                        i.fa.fa-github
                            .col-md-3.col-sm-6
                                .team(data-animation-name="fadeInRight")
                                    .team-photo
                                        figure
                                            img(src="demo/team/3.jpg", alt="")/
                                            figcaption
                                                a(href="#")
                                                    i.gi.gi-resize-full
                                    .team-info
                                        h4.team-name
                                            ='Angelica Dunes'
                                        p.team-role
                                            ='Lead Designer'
                                    .team-data(data-name="Angelica Dunes", data-role="Lead Designer", data-photo="demo/team/3.jpg")
                                        p
                                            ='Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                                        p
                                            ='Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.'
                                        .spacer-60.bordered
                                        .social-list
                                            ul
                                                li
                                                    a(href="#")
                                                        i.fa.fa-facebook
                                                li
                                                    a(href="#")
                                                        i.fa.fa-twitter
                                                li
                                                    a(href="#")
                                                        i.fa.fa-instagram
                                                li
                                                    a(href="#")
                                                        i.fa.fa-google-plus
                                                li
                                                    a(href="#")
                                                        i.fa.fa-github
                            .col-md-3.col-sm-6
                                .team(data-animation-name="fadeInRight")
                                    .team-photo
                                        figure
                                            img(src="demo/team/4.jpg", alt="")
                                            figcaption
                                                a(href="#")
                                                    i.gi.gi-resize-full
                                    .team-info
                                        h4.team-name
                                            ='Tom Weerd'
                                        p.team-role
                                            ='General Manager'
                                    .team-data(data-name="Tom Weerd", data-role="General Manager", data-photo="demo/team/4.jpg")
                                        p
                                            ='Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
                                        p
                                            ='Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                                        p
                                            ='Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.'
                                        .spacer-60.bordered
                                        .social-list
                                            ul
                                                li
                                                    a(href="#")
                                                        i.fa.fa-facebook
                                                li
                                                    a(href="#")
                                                        i.fa.fa-twitter
                                                li
                                                    a(href="#")
                                                        i.fa.fa-instagram
                                                li
                                                    a(href="#")
                                                        i.fa.fa-google-plus
                                                li
                                                    a(href="#")
                                                        i.fa.fa-github
                #culture.section-row.half-padding-top.half-padding-bottom
                    .container
                        .row
                            .col-md-6
                                hgroup
                                    h4.text-primary.text-uppercase
                                        ='More About Us'
                                    h2.text-highlight.text-uppercase.half-margin-bottom
                                        ='Our Culture'
                                p
                                    ='Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.'
                                p
                                    ='Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.'
                               .spacer-20.hidden-md.hidden-lg
                            .col-md-6
                                .media(data-animation-name="fadeInRight")
                                    iframe(src="//player.vimeo.com/video/43741472?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff", width="500", height="281", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
                .section-row.half-padding-bottom.half-padding-top
                    .container
                        .row
                            .col-md-3.col-sm-6
                                .counter(data-animation-name="fadeInUp")
                                    span.number
                                        ='33'
                                    span.label
                                        ='Awards Won'
                            .col-md-3.col-sm-6
                                .counter(data-animation-name="fadeInUp")
                                    span.number
                                        ='614'
                                    span.label
                                        ='Happy Customers'
                            .col-md-3.col-sm-6
                                .counter(data-animation-name="fadeInUp")
                                    span.number
                                        ='188'
                                    span.label
                                        ='Themes Released'
                            .col-md-3.col-sm-6
                                .counter(data-animation-name="fadeInUp")
                                    span.number
                                        ='365'
                                    span.label
                                        ='Days in a Year'


        section#testimonials.section.th-dark(data-background="demo/parallax/1.jpg", data-background-xs="demo/parallax/1-xs.jpg", data-background-md="demo/parallax/1-md.jpg", data-background-lg="demo/parallax/1-lg.jpg")
            .section-row-container
                .section-row.three-quarters-padding-top.three-quarters-padding-bottom
                    .container
                        .row
                            .col-md-10.col-md-push-1
                                .testimonial-slider.owl-carousel(data-auto-height="true", data-single-item="true",data-animation-name="rotateInUpLeft")
                                    .testimonial
                                        blockquote
                                            p
                                                !='Ever since we started working with Hydrogen, every project we had was always on time delivered.'
                                            small
                                                !='Alan Grant <cite>Invision, Ltd.</cite>'
                                    .testimonial
                                        blockquote
                                            p
                                                !='Hydrogen is an awesome company!'
                                            small
                                                !='Dennis Nedry <cite>Jurassic Park</cite>'
                                    .testimonial
                                        blockquote
                                            p
                                                !='Awesome support, awesome work and great design! We couldnt ask for more from the great folks at Hydrogen.'
                                            small
                                                !='John Weasley <cite>The Burrow</cite></small>'
            .section-overlay
        section#services.section
            .section-row-container
                .section-row
                    .container
                        .row
                            .col-lg-12
                                h1.section-title.show-counter
                                    !='Our Services'
                                    small
                                        !='From web to print designs, we love what we do and we promise to give you the best!'
                        .row
                           .col-md-4
                                .service
                                    .service-icon
                                        i.gi.gi-send(data-animation-name="bounceIn")
                                        i.gi.gi-send.shadow-icon(data-animation-name="fadeInLeft", data-animation-delay="0")
                                    .service-info
                                        h4.service-name
                                            !='Web Design'
                                        p.service-description
                                            !='Developing websites has always been our passion and main goal since we started the company. Putent laoreet et ius utroque dissentias ut.'
                            .col-md-4
                                .service
                                    .service-icon
                                        i.gi.gi-fire(data-animation-name="bounceIn")
                                        i.gi.gi-fire.shadow-icon(data-animation-name="fadeInLeft", data-animation-delay="0")
                                    .service-info
                                        h4.service-name
                                            !='Branding'
                                        p.service-description
                                            !='Branding, packaging, leave all that to us, we promise to make your brand stand out in the crowd. Putent laoreet et ius utroque dissentias ut.'
                            .col-md-4
                                .service
                                    .service-icon
                                        i.gi.gi-camera(data-animation-name="bounceIn")
                                        i.gi.gi-camera.shadow-icon(data-animation-name="fadeInLeft", data-animation-delay="0")
                                    .service-info
                                        h4.service-name
                                            !='Photography'
                                        p.service-description
                                            !='Were not only good at designing digital goodies, weve also lots of experience in print design. Putent laoreet et ius utroque dissentias ut.'
                        .spacer-20.hidden-xs.hidden-sm
                        .row
                            .col-md-4
                                .service
                                    .service-icon
                                        i.gi.gi-server(data-animation-name="bounceIn")
                                        i.gi.gi-server.shadow-icon(data-animation-name="fadeInLeft", data-animation-delay="0")
                                    .service-info
                                        h4.service-name
                                            !='Server Scripting'
                                        p.service-description
                                            !='Marketing, SEO and website analytics are one of our hidden expertise. Putent laoreet et ius utroque dissentias ut.'
                            .col-md-4
                                .service
                                    service-icon
                                        i.gi.gi-dashboard(data-animation-name="bounceIn")
                                        i.gi.gi-dashboard.shadow-icon(data-animation-name="fadeInLeft", data-animation-delay="0")
                                    .service-info
                                        h4.service-name
                                            !='Speed Analysis'
                                        p.service-description
                                            !='Marketing, SEO and website analytics are one of our hidden expertise. Putent laoreet et ius utroque dissentias ut.'
                            .col-md-4
                                .service
                                    .service-icon
                                        i.gi.gi-gamepad(data-animation-name="bounceIn")
                                        i.gi.gi-gamepad.shadow-icon(data-animation-name="fadeInLeft", data-animation-delay="0")
                                    .service-info
                                        h4.service-name
                                            !='Game Design'
                                        p.service-description
                                            !='Marketing, SEO and website analytics are one of our hidden expertise. Putent laoreet et ius utroque dissentias ut.'
        section.section(data-background="demo/parallax/2.jpg", data-background-xs="demo/parallax/2-xs.jpg", data-background-md="demo/parallax/2-md.jpg", data-background-lg="demo/parallax/2-lg.jpg")
            .section-row-container
                .section-row.th-dark.no-padding-bottom.bg-transparent
                    .container
                        .row
                            .col-md-12
                                h3.section-subtitle.text-center
                                    !='Recent Blog Posts'
                                    small
                                        !='<span class="highlight">Lets read together</span>'
                .section-row.no-padding-top.half-padding-bottom
                    .container
                        .row
                            .col-md-12(data-animation-name="fadeInRightBig")
                                .owl-carousel.items-carousel(data-auto-height="true")
                                    .carousel-item
                                        .recent-post.post-standard
                                            .recent-post-media.recent-post-img
                                                .media
                                                    figure
                                                        img(src="demo/blog/thumbs/r1.jpg", alt="")/
                                                    .overlay
                                                        ul
                                                            li.mfp-zoom
                                                                a(href="demo/blog/r1.jpg")
                                                                    i.gi.gi-resize-full
                                            .recent-post-body
                                                a.read-more-link(href="blog-single.html")
                                                    i.gi.gi-link
                                                .content
                                                    h4.post-title
                                                        !='Surfing in North Miami'
                                                    p
                                                        !='Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.'
                                                    .meta
                                                        ul
                                                            li
                                                                !='19 February 2014'
                                                            li
                                                                !='38 comments'
                                                            li
                                                                !='<i class="gi gi-heart text-primary"></i> 22'
                                    .carousel-item
                                        .recent-post.post-image
                                            .recent-post-media.standard-slider
                                                .royalSlider.rsHydrogen
                                                    .slider-media
                                                        figure
                                                            img(src="demo/blog/thumbs/r2.jpg", alt="")/
                                                        .overlay
                                                            ul
                                                                li.mfp-zoom
                                                                    a(href="demo/blog/r2.jpg")
                                                                        i.gi.gi-resize-full
                                                    .slider-media
                                                        figure
                                                            img(src="demo/blog/thumbs/r4.jpg", alt="")/
                                                        .overlay
                                                            ul
                                                                li.mfp-zoom
                                                                    a(href="demo/blog/r4.jpg")
                                                    .slider-media
                                                        figure
                                                            img(src="demo/blog/thumbs/r5.jpg", alt="")/
                                                        .overlay
                                                            ul
                                                                li.mfp-zoom
                                                                    a(href="demo/blog/r5.jpg")
                                                                        i.gi.gi-resize-full
                                            .recent-post-body
                                                a.read-more-link(href="blog-single.html")
                                                    i.gi.gi-link
                                                .content
                                                    h4.post-title
                                                        !='Merry Go Round'
                                                    p
                                                        !='Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.'
                                                    .meta
                                                        ul
                                                            li
                                                                !='19 February 2014'
                                                            li
                                                                !='38 comments'
                                                            li
                                                                !='<i class="gi gi-heart text-primary"></i> 22'
                                    .carousel-item
                                        .recent-post.post-video
                                            .recent-post-media.recent-post-video
                                                .media
                                                    figure
                                                        img(src="demo/blog/thumbs/r3.jpg", alt="")/
                                                    .overlay
                                                        ul
                                                            li.mfp-zoom
                                                                a.mfp-iframe(href="http://vimeo.com/81151091")
                                                                    i.gi.gi-play
                                            .recent-post-body
                                                a.read-more-link(href="blog-single.html")
                                                    i.gi.gi-link
                                                .content
                                                    h4.post-title
                                                        !='Reaching The Moon'
                                                    p
                                                        !='Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.'
                                                    .meta
                                                        ul
                                                            li
                                                                !='19 February 2014'
                                                            li
                                                                !='38 comments'
                                                            li
                                                                !='<i class="gi gi-heart text-primary"></i> 22'
                                    .carousel-item
                                        .recent-post.post-audio
                                            .recent-post-body
                                                a.read-more-link(href="blog-single.html")
                                                    i.gi.gi-link
                                                .content
                                                    h4.post-title
                                                        !='Miaow - Bubble'
                                                    p
                                                        !='Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.'
                                                    .meta
                                                        ul
                                                            li
                                                                !='19 February 2014'
                                                            li
                                                                !='38 comments'
                                                            li
                                                                !='<i class="gi gi-heart text-primary"></i> 22'
                                            .recent-post-media
                                                .media
                                                    audio(src="demo/audio/miaow.m4a", type="audio/mp4")
                                    .carousel-item
                                        .recent-post.post-quote
                                            .recent-post-body
                                                a.read-more-link(href="blog-single.html")
                                                    i.gi.gi-link
                                                .content
                                                    blockquote
                                                        p
                                                            !='All our dreams can come true–if we have the courage to pursue them.'
                                                        small
                                                            !='Walt Disney'
                                                    .meta
                                                        ul
                                                            li
                                                                !='19 February 2014'
                                                            li
                                                                !='38 comments'
                                                            li
                                                                !='<i class="gi gi-heart text-primary"></i> 22'
            .section-overlay.
        section#work.section
            .section-row-container
                .section-row
                    .container
                        .row
                            .col-lg-3
                                h1.section-title.show-counter
                                    !='Our Work'
                                    small
                                        !='Check out our recent projects and we’re sure you’ll immediately fall in love.'
                            .col-lg-9
                                .macbook-slider
                                    .wrap
                                        .royalSlider.rsHydrogen
                                            .slider-media.project-slide
                                                figure
                                                    img.rsImg(src="demo/projects/slider/thumbs/1.jpg", alt="")/
                                                    figcaption
                                                        !='<span>The Freestyler</span>'
                                                .overlay.transparent
                                                    ul
                                                        li.mfp-zoom
                                                            a(href="demo/projects/slider/1.jpg")
                                                                i.gi.gi-resize-full
                                                        li.mfp-details
                                                            a( href="#")
                                                                i.gi.gi-search
                                            .slider-media.project-slide
                                                figure
                                                    img.rsImg(src="demo/projects/slider/thumbs/vid.jpg", alt="", data-rsVideo="http://vimeo.com/11475955")/
                                                    figcaption.mfp-details
                                                        a(href="#")
                                                            !='Beauty Reel'
                                            .slider-media.project-slide
                                                figure
                                                    img.rsImg(src="demo/projects/slider/thumbs/2.jpg", alt="")/
                                                    figcaption
                                                        !='<span>Colorful Lady</span>'
                                                .overlay.transparent
                                                    ul
                                                        li.mfp-zoom
                                                            a(href="demo/projects/slider/2.jpg")
                                                                i.gi.gi-resize-full
                                                        li.mfp-details
                                                            a( href="#")
                                                                i.gi.gi-search
                                            .slider-media.project-slide
                                                figure
                                                    img.rsImg(src="demo/projects/slider/thumbs/3.jpg", alt="")/
                                                    figcaption
                                                        !='<span>The Hawk</span>'
                                                .overlay.transparent
                                                    ul
                                                        li.mfp-zoom
                                                            a(href="demo/projects/slider/3.jpg")
                                                                i.gi.gi-resize-full
                                                        li.mfp-details
                                                            a(href="#")
                                                                i.gi.gi-search
                .section-row.no-padding-top
                    .container
                        .row
                            .col-md-8.col-md-push-4
                                h2.section-separator-title
                                    !='<span data-shadow-text="Want to See More?">Want to See More?</span>'
                        .row(data-animation-chain-duration="1200")
                            .col-md-12
                                .projects
                                    .filter
                                        !='<span class="active-label visible-xs" data-toggle="dropdown">All</span>'
                                        ul
                                            li.active
                                                a(href="#", data-filter="*")
                                                    !='All'
                                            li
                                                a(href="#", data-filter=".illustration")
                                                    !='Illustration'
                                            li
                                                a(href="#", data-filter=".web-design")
                                                    !='Web Design'
                                            li
                                                a(href="#", data-filter=".branding")
                                                    !='Branding'
                                            li
                                                a(href="#", data-filter=".photography")
                                                    !='Photography'
                                    .items
                                        .grid-sizer
                                        .gutter-sizer
                                        .project.branding.web-design(data-animation-name="fadeInDown")
                                            .project-image
                                                img(src="demo/projects/thumbs/1.jpg", alt="")/
                                                .overlay
                                                    ul.actions
                                                        li.mfp-zoom
                                                            a(href="demo/projects/1.jpg")
                                                                i.gi.gi-resize-full
                                                        li.mfp-details
                                                            a(href="project-body-art.html")
                                                                i.gi.gi-search
                                            .project-info
                                                h4.project-name
                                                    !='Tattoo Body Art'
                                                .project-categories
                                                    !='Branding, Web Design'
                                        .project.photography.web-design(data-animation-name="fadeInDown")
                                            .project-image
                                                img(src="demo/projects/thumbs/2.jpg", alt="")/
                                                .overlay
                                                    ul.actions
                                                        li.mfp-zoom
                                                            a(href="demo/projects/2.jpg")
                                                                i.gi.gi-resize-full
                                                        li.mfp-details
                                                            a( href="project-manhattan.html")
                                                                i.gi.gi-search
                                            .project-info
                                                h4.project-name
                                                    !='Future Manhattan'
                                                .project-categories
                                                    !='Photography, Web Design'
                                        .project.illustration.web-design(data-animation-name="fadeInDown")
                                            .project-image
                                                img(src="demo/projects/thumbs/3.jpg", alt="")/
                                                .overlay
                                                    ul.actions
                                                        li.mfp-zoom
                                                            a(href="demo/projects/3.jpg")
                                                                i.gi.gi-resize-full
                                                        li.mfp-details
                                                            a( href="project-elle.html")
                                                                i.gi.gi-search
                                            .project-info
                                                h4.project-name
                                                    !='Elle Magazine'
                                                .project-categories
                                                    !='Illustration, Web Design'
                                        .project.photography(data-animation-name="fadeInDown")
                                            .project-image
                                                img(src="demo/projects/thumbs/4.jpg", alt="")/
                                                .overlay
                                                    u.actions
                                                        li.mfp-zoom
                                                            a(href="demo/projects/4.jpg")
                                                                i.gi.gi-resize-full
                                                        li.mfp-details
                                                            a(href="project-dark-castle.html")
                                                                i.gi.gi-search
                                            .project-info
                                                h4-project-name
                                                    !='The Dark Castle'
                                                div-project-categories
                                                    !='Photography'
                                        .project.branding.photography(data-animation-name="fadeInDown")
                                            .project-image
                                                img(src="demo/projects/thumbs/5.jpg", alt="")/
                                                .overlay
                                                    ul.actions
                                                        li.mfp-zoom
                                                            a(href="demo/projects/5.jpg")
                                                                i.gi.gi-resize-full
                                                        li.mfp-details
                                                            a(href="project-smokey-eyes.html")
                                                                i.gi.gi-search
                                            .project-info
                                                h4.project-name
                                                    !='Smokey Eyes Makeup'
                                                div.project-categories
                                                    !='Branding, Photography'
                                        .project.web-design(data-animation-name="fadeInDown")
                                            .project-image
                                                img(src="demo/projects/thumbs/6.jpg", alt="")/
                                                .overlay
                                                    ul.actions
                                                        li.mfp-zoom
                                                            a(href="demo/projects/6.jpg")
                                                                i.gi.gi-resize-full
                                                        li.mfp-details
                                                            a(href="project-lipsticks.html")
                                                                i.gi.gi-search
                                            .project-info
                                                h4.project-name
                                                    !='K.A.C Lipsticks'
                                                div.project-categories
                                                    !='Web Design'
                                        .project.photography(data-animation-name="fadeInDown")
                                            .project-image
                                                img(src="demo/projects/thumbs/7.jpg", alt="")/
                                                .overlay
                                                    ul.actions
                                                        li.mfp-zoom
                                                            a(href="demo/projects/7.jpg")
                                                                i.gi.gi-resize-full
                                                        li.mfp-details
                                                            a(href="project-pink-lady.html")
                                                                i.gi.gi-search
                                            .project-info
                                                h4.project-name
                                                    !='The Pink Lady'
                                                div.project-categories
                                                    !='Photography'
                                        .project.illustration.web-design(data-animation-name="fadeInDown")
                                            .project-image
                                                img(src="demo/projects/thumbs/8.jpg", alt="")/
                                                .overlay
                                                    ul.actions
                                                        li.mfp-zoom
                                                            a(href="demo/projects/8.jpg")
                                                                i.gi.gi-resize-full
                                                        li.mfp-details
                                                            a(href="project-moon-girl.html")
                                                                i.gi.gi-search
                                            .project-info
                                                h4.project-name
                                                    !='Moon Girl'
                                                div.project-categories
                                                    !='Illustration, Web Design'
                                    .project-load-more
                                        a(href="#")
                                            i.gi.gi-plus
                #clients.section-row.no-padding-top.half-padding-bottom
                    .container
                        .row(data-animation-chain-duration="1500")
                            .col-md-12
                                h2.section-separator-title.separator-align-left
                                    span(data-shadow-text="Featured Clients")
                                        !='Featured Clients'
                                p.lead
                                    !='We have worked with some of the worlds biggest brands, along with famous designers, artists, bloggers, and entrepreneurs.'
                                .client-list
                                    ul
                                        li.client
                                            .client-logo(data-animation-name="fadeInUp")
                                                .logo
                                                    a(href="#")
                                                        img(src="demo/clients/1.png", alt="Toyota")/
                                        li.client
                                            .client-logo(data-animation-name="fadeInUp")
                                                .logo
                                                    a(href="#")
                                                        img(src="demo/clients/2.png" alt="Gilette")/
                                        li.client
                                            .client-logo(data-animation-name="fadeInUp")
                                                .logo
                                                    a(href="#")
                                                        img(src="demo/clients/3.png", alt="Samsung")/
                                        li.client
                                            .client-logo(data-animation-name="fadeInUp")
                                                .logo
                                                    a(href="#")
                                                        img(src="demo/clients/4.png", alt="Nike")/
                                        li.client
                                            .client-logo(data-animation-name="fadeInUp")
                                                .logo
                                                    a(href="#")
                                                        img(src="demo/clients/6.png", alt="Toyota")/
                                        li.client
                                            .client-logo(data-animation-name="fadeInUp")
                                                .logo
                                                    a(href="#")
                                                        img(src="demo/clients/8.png", alt="Samsung")/
                                        li.client
                                            .client-logo(data-animation-name="fadeInUp")
                                                .logo
                                                    a(href="#")
                                                        img(src="demo/clients/11.png", alt="Toyota")/
                                        li.client
                                            .client-logo(data-animation-name="fadeInUp")
                                                .logo
                                                    a(href="#")
                                                        img(src="demo/clients/13.png", alt="Samsung")/
                                        li.client
                                            .client-logo(data-animation-name="fadeInUp")
                                                .logo
                                                    a(href="#")
                                                        img(src="demo/clients/14.png", alt="Nike")/
                                        li.client
                                            .client-logo(data-animation-name="fadeInUp")
                                                .logo
                                                    a(href="#")
                                                        img(src="demo/clients/16.png", alt="Nestle")/


        section.section.th-dark(data-background="demo/parallax/3.jpg", data-background-xs="demo/parallax/3-xs.jpg",data-background-md="demo/parallax/3-md.jpg", data-background-lg="demo/parallax/3-lg.jpg")
            .section-row-container
                .section-row.three-quarters-padding-top.three-quarters-padding-bottom
                    .container
                        .row
                            .col-md-12
                                .tweet-slider(data-username="envato", data-count="3", data-animation-name="fadeInUp")
            .section-overlay
        section#pricing.section
            .section-row-container
                .section-row
                    .container
                        .row
                            .col-lg-12
                                h1.section-title.show-counter
                                    !='Our Plans <small>Check our plans. We’re very reasonable when it comes about pricing.</small>'
                        .row
                            .col-md-4
                                .pricing-table(data-animation-name="flipInY")
                                    h2.price
                                        !='$0<small>/mo.</small>'
                                    h5.name
                                        !='Free'
                                    .features
                                        ul
                                            li
                                                !='<span>250</span> templates to choose from'
                                            li
                                                !='<span>10GB</span> disk space'
                                            li
                                                !='<span>5TB</span> bandwidth'
                                            li
                                                !='<span>4GB</span> memory'
                                            li
                                                !='Prioritized Support'
                                    a.btn.btn-sm.btn-primary.btn-block(href="#")
                                        !='Sign Up'
                            .col-md-4
                                .pricing-table.featured(data-animation-name="flipInY")
                                    h2.price
                                        !='$5<small>/mo.</small>'
                                    h5.name
                                        !='Basic'
                                    .features
                                        ul
                                            li
                                                !='<span>250</span> templates to choose from'
                                            li
                                                !='<span>10GB</span> disk space'
                                            li
                                                !='<span>5TB</span> bandwidth'
                                            li
                                                !='<span>4GB</span> memory'
                                            li
                                                !='Prioritized Support'
                                    a.btn.btn-sm.btn-primary.btn-block(href="#")
                                        !='Sign Up'
                            .col-md-4
                                .pricing-table(data-animation-name="flipInY")
                                    h2.price
                                        !='$15<small>/mo.</small>'
                                    h5.name
                                        !='Premium'
                                    .features
                                        ul
                                            li
                                                !='<span>250</span> templates to choose from'
                                            li
                                                !='<span>10GB</span> disk space'
                                            li
                                                !='<span>5TB</span> bandwidth'
                                            li
                                                !='<span>4GB</span> memory'
                                            li
                                                !='Prioritized Support'
                                    a.btn.btn-sm.btn-primary.btn-block(href="#")
                                        !='Sign Up'
        section.section.th-dark
            .section-row-container
                .section-row
                    .container
                        .row(data-animation-chain-duration="800")
                            .col-md-8.col-md-push-2
                                .call-to-action.centered.unboxed.no-margin-bottom
                                    .call-to-action-inner
                                        .col-text(data-animation-name="bounceIn")
                                            h2.headline
                                                !='So youre convinced that Hy<span class="text-primary">dro</span>gen is the best?'
                                        .col-btn(data-animation-name="fadeInUp")
                                            a.btn.btn-lg.btn-default(href="http://www.themeforest.net", target="_blank")
                                                !='Buy Now on ThemeForest'
            .section-overlay
            .section-media.section-media-video(style="background-image: url(demo/img/first-frame.jpg);")
                video(style="width: 100%; height: 100%;", loop, autoplay)
                    // WebM/VP8 for Firefox4, Opera, and Chrome
                    source(type="video/webm", src="demo/videos/splash.webm")/
                    // MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7
                    source(type="video/mp4", src="demo/videos/splash.mp4")/
        #contact.section
            .section-row-container
                .section-row.half-padding-bottom
                    .container
                        .row
                            .col-lg-12
                                h1.section-title.show-counter
                                    !='Get in Touch <small>Feel free to contact us if you have something to say!</small>'
                        .row
                            .col-md-8
                                form(method="post", class="form-horizontal contact-form", action="php/contact/contact.php")
                                    // Honeypot SPAM Protection
                                    !='<input type="text" name="cf[honeypot]" style="display: none">'
                                    // END Honeypot SPAM Protection
                                    .form-group
                                        col-md-6
                                            !='<input type="text" name="cf[name]" class="form-control required" placeholder="Name">'
                                        </div>
                                        col-md-6
                                            !='<input type="email" name="cf[email]" class="form-control required email" placeholder="Email">'
                                        </div>
                                    </div>
                                    .form-group
                                        col-md-6
                                            !='<input type="url" name="cf[url]" class="form-control url" placeholder="URL">'
                                        </div>
                                        col-md-6
                                            !='<input type="text" name="cf[subject]" class="form-control required" placeholder="Subject">'
                                        </div>
                                    </div>
                                    .form-group
                                        col-md-12
                                            !='<textarea name="cf[message]" rows="6" class="form-control required" placeholder="Message"></textarea>'
                                        </div>
                                    </div>
                                    .form-group
                                        col-md-12
                                            !='<input type="submit" value="Submit" class="btn btn-sm btn-block btn-primary">'
                            .col-md-4
                                aside.sidebar
                                    .sidebar-block
                                        p
                                            !='<strong class="text-semibold">Hydrogen Digital Agency</strong><br>111 Fifth Avenue, 34th Floor<br>New York<br>United States'
                                    .sidebar-block
                                        p.lead
                                            !='<strong>E:</strong> hello@hydrogendigital.com<br><strong>P:</strong> 0987 6543 2100'
                .section-row.no-padding-top.no-padding-bottom
                    .google-maps-container
                        .google-maps(data-center="40.804844,-73.933538", data-markers!="[{&quot;lat&quot;:&quot;40.804844&quot;,&quot;lng&quot;:&quot;-73.933538&quot;}]", data-zoom="16", data-scrollWheel="false", data-monochrome="true")
    footer.site-footer
        .footer-logo
            .container
                .row
                    .col-md-12
                        a(href="#")
                            img(src="demo/img/logo.png", style="width: 100px", alt="")
        // inizio nascosto
        .footer-widgets
            .container
                .row
                    .col-md-4
                        h5.widget-title
                            !='About Hydrogen'
                        p
                            !='Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                    .col-md-4
                        h5.widget-title
                            !='About Hydrogen'
                        p
                            !='Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
                    .col-md-4
                        h5.widget-title
                            !='About Hydrogen'
                        p
                            !='Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
        // fine nascosto

        .footer-bottom
            .container
                .row
                    .col-md-12
                        .footer-text
                            !='Copyright &copy; 2008-2014. <a href="#">Hydrogen Studio</a>. All Rights Reserved.'
                        .social-list
                            ul
                                li
                                    a(href="#")
                                        i.fa.fa-facebook
                                li
                                    a( href="#")
                                        i.fa.fa-twitter
                                li
                                    a( href="#")
                                        i.fa.fa-instagram
                                li
                                    a( href="#")
                                        i.fa.fa-google-plus
                                li
                                    a( href="#")
                                        i.fa.fa-github
