// ADS 1
.page-section
    .container
        .row
            .col-md-6.left-50
                .fes2-main-text-cont
                    .title-fs-45
                        | OPTIMIZED FOR
                        br
                        span.bold MOBILE
                    .line-3-100
                    .fes2-text-cont
                        | Sed ut perspiciatis unde omnis iste nat eror acus  antium que. Asperiores, ea velit enim labore doloribus.
                    .mt-30
                        a.button.medium.thin.hover-dark(href='http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel') BUY NOW
            .col-md-6.right-50.wow.fadeInLeft
                .ads-img-cont
                    img(src='images/ads-phone.jpg', alt='img')
// DIVIDER
hr.mt-0.mb-0
// ADS 2
.page-section
    .container
        .row
            .col-md-6
                .fes2-main-text-cont
                    .title-fs-45
                        | POWERFUL
                        br
                        span.bold OPTIONS
                    .line-3-100
                    .fes2-text-cont
                        | Sed ut perspiciatis unde omnis iste nat eror acus  antium que. Asperiores, ea velit enim labore doloribus.
                    .mt-30
                        a.button.medium.thin.hover-dark(href='http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel') BUY NOW
            .col-md-6.wow.fadeInRight
                .ads-img-cont
                    img(src='images/ads-noute.jpg', alt='img')
// VIDEO ADS 1
.page-section.video-ads-bg
    .container
        .video-ads-text-cont.clearfix
            span.video-ads-text BE CREATIVE
            span.video-ads-a
                a.popup-youtube(href='https://www.youtube.com/watch?v=0gv7OC9L2s8')
                    span.icon.icon-music-play-button
            span.video-ads-text WITH HASWELL