// PORTFOLIO SECTION 2
.page-section
    .relative
        // ITEMS GRID
        ul#items-grid.port-grid.port-grid-3.port-grid-gut.clearfix
            // Item 1
            li.port-item.mix
                a(href='portfolio-single1.html')
                    .port-img-overlay
                        img.port-main-img(src='images/portfolio/projects-5.jpg', alt='img')
                .port-overlay-cont
                    .port-title-cont
                        h3
                            a(href='portfolio-single1.html') MINIMALISM BOOKS
                        span
                            a(href='#') ui elements
                            span.slash-divider /
                            a(href='#') media
                    .port-btn-cont
                        a.lightbox.mr-20(href='images/portfolio/projects-2-big.jpg')
                            .icon_search(aria-hidden='true')
                        a(href='portfolio-single1.html')
                            .icon_link(aria-hidden='true')
            // Item 2
            li.port-item.mix
                a(href='portfolio-single1.html')
                    .port-img-overlay
                        img.port-main-img(src='images/portfolio/projects-3.jpg', alt='img')
                .port-overlay-cont
                    .port-title-cont
                        h3
                            a(href='portfolio-single1.html') CALENDAR
                        span
                            a(href='#') photography
                            span.slash-divider /
                            a(href='#') media
                    .port-btn-cont
                        a.lightbox.mr-20(href='images/portfolio/projects-2-big.jpg')
                            .icon_search(aria-hidden='true')
                        a(href='portfolio-single1.html')
                            .icon_link(aria-hidden='true')
            // Item 3
            li.port-item.mix
                a(href='portfolio-single1.html')
                    .port-img-overlay
                        img.port-main-img(src='images/portfolio/projects-1.jpg', alt='img')
                .port-overlay-cont
                    .port-title-cont
                        h3
                            a(href='portfolio-single1.html') EYES OF THE CAR
                        span
                            a(href='#') branding
                            span.slash-divider /
                            a(href='#') marketing
                    .port-btn-cont
                        a.lightbox.mr-20(href='images/portfolio/projects-2-big.jpg')
                            .icon_search(aria-hidden='true')
                        a(href='portfolio-single1.html')
                            .icon_link(aria-hidden='true')
            // Item 4
            li.port-item.mix
                a(href='portfolio-single1.html')
                    .port-img-overlay
                        img.port-main-img(src='images/portfolio/projects-6.jpg', alt='img')
                .port-overlay-cont
                    .port-title-cont
                        h3
                            a(href='portfolio-single1.html') NOW IS NOW
                        span
                            a(href='#') design
                            span.slash-divider /
                            a(href='#') photography
                    .port-btn-cont
                        a.lightbox.mr-20(href='images/portfolio/projects-2-big.jpg')
                            .icon_search(aria-hidden='true')
                        a(href='portfolio-single1.html')
                            .icon_link(aria-hidden='true')
            // Item 5
            li.port-item.mix
                a(href='portfolio-single1.html')
                    .port-img-overlay
                        img.port-main-img(src='images/portfolio/projects-7.jpg', alt='img')
                .port-overlay-cont
                    .port-title-cont
                        h3
                            a(href='portfolio-single1.html') EYES OF THE CAR
                        span
                            a(href='#') ui elements
                            span.slash-divider /
                            a(href='#') media
                    .port-btn-cont
                        a.lightbox.mr-20(href='images/portfolio/projects-2-big.jpg')
                            .icon_search(aria-hidden='true')
                        a(href='portfolio-single1.html')
                            .icon_link(aria-hidden='true')
            // Item 6
            li.port-item.mix
                a(href='portfolio-single1.html')
                    .port-img-overlay
                        img.port-main-img(src='images/portfolio/projects-4.jpg', alt='img')
                .port-overlay-cont
                    .port-title-cont
                        h3
                            a(href='portfolio-single1.html') LOVE
                        span
                            a(href='#') branding
                            span.slash-divider /
                            a(href='#') media
                    .port-btn-cont
                        a.lightbox.mr-20(href='images/portfolio/projects-2-big.jpg')
                            .icon_search(aria-hidden='true')
                        a(href='portfolio-single1.html')
                            .icon_link(aria-hidden='true')
// VIEW MORE PROJECTS
.port-view-more-cont
    a.port-view-more(href='portfolio-4-col-masonry.html') VIEW MORE PROJECTS
// END PORTFOLIO SECTION 1
// DIVIDER
hr.mt-0.mb-0