section#testimonials.section.th-dark(data-background="demo/parallax/1.jpg", data-background-xs="demo/parallax/1-xs.jpg", data-background-md="demo/parallax/1-md.jpg", data-background-lg="demo/parallax/1-lg.jpg")
    .section-row-container
        .section-row.three-quarters-padding-top.three-quarters-padding-bottom
            .container
                .row
                    .col-md-10.col-md-push-1
                        .testimonial-slider.owl-carousel(data-auto-height="true", data-single-item="true",data-animation-name="rotateInUpLeft")
                            .testimonial
                                blockquote
                                    p
                                        !='Ever since we started working with Hydrogen, every project we had was always on time delivered.'
                                    small
                                        !='Alan Grant <cite>Invision, Ltd.</cite>'
                            .testimonial
                                blockquote
                                    p
                                        !='Hydrogen is an awesome company!'
                                    small
                                        !='Dennis Nedry <cite>Jurassic Park</cite>'
                            .testimonial
                                blockquote
                                    p
                                        !='Awesome support, awesome work and great design! We couldnt ask for more from the great folks at Hydrogen.'
                                    small
                                        !='John Weasley <cite>The Burrow</cite></small>'
    .section-overlay
section#services.section
    .section-row-container
        .section-row
            .container
                .row
                    .col-lg-12
                        h1.section-title.show-counter
                            !='Our Services'
                            small
                                !='From web to print designs, we love what we do and we promise to give you the best!'
                .row
                    .col-md-4
                        .service
                            .service-icon
                                i.gi.gi-send(data-animation-name="bounceIn")
                                i.gi.gi-send.shadow-icon(data-animation-name="fadeInLeft", data-animation-delay="0")
                            .service-info
                                h4.service-name
                                    !='Web Design'
                                p.service-description
                                    !='Developing websites has always been our passion and main goal since we started the company. Putent laoreet et ius utroque dissentias ut.'
                    .col-md-4
                        .service
                            .service-icon
                                i.gi.gi-fire(data-animation-name="bounceIn")
                                i.gi.gi-fire.shadow-icon(data-animation-name="fadeInLeft", data-animation-delay="0")
                            .service-info
                                h4.service-name
                                    !='Branding'
                                p.service-description
                                    !='Branding, packaging, leave all that to us, we promise to make your brand stand out in the crowd. Putent laoreet et ius utroque dissentias ut.'
                    .col-md-4
                        .service
                            .service-icon
                                i.gi.gi-camera(data-animation-name="bounceIn")
                                i.gi.gi-camera.shadow-icon(data-animation-name="fadeInLeft", data-animation-delay="0")
                            .service-info
                                h4.service-name
                                    !='Photography'
                                p.service-description
                                    !='Were not only good at designing digital goodies, weve also lots of experience in print design. Putent laoreet et ius utroque dissentias ut.'
                .spacer-20.hidden-xs.hidden-sm
                .row
                    .col-md-4
                        .service
                            .service-icon
                                i.gi.gi-server(data-animation-name="bounceIn")
                                i.gi.gi-server.shadow-icon(data-animation-name="fadeInLeft", data-animation-delay="0")
                            .service-info
                                h4.service-name
                                    !='Server Scripting'
                                p.service-description
                                    !='Marketing, SEO and website analytics are one of our hidden expertise. Putent laoreet et ius utroque dissentias ut.'
                    .col-md-4
                        .service
                            service-icon
                                i.gi.gi-dashboard(data-animation-name="bounceIn")
                                i.gi.gi-dashboard.shadow-icon(data-animation-name="fadeInLeft", data-animation-delay="0")
                            .service-info
                                h4.service-name
                                    !='Speed Analysis'
                                p.service-description
                                    !='Marketing, SEO and website analytics are one of our hidden expertise. Putent laoreet et ius utroque dissentias ut.'
                    .col-md-4
                        .service
                            .service-icon
                                i.gi.gi-gamepad(data-animation-name="bounceIn")
                                i.gi.gi-gamepad.shadow-icon(data-animation-name="fadeInLeft", data-animation-delay="0")
                            .service-info
                                h4.service-name
                                    !='Game Design'
                                p.service-description
                                    !='Marketing, SEO and website analytics are one of our hidden expertise. Putent laoreet et ius utroque dissentias ut.'